<div class="container">
  <h1 id="dynamicHeader">
    <a href="/" data-link>I'm Shad.</a>
  </h1>
  <div class="links">
    <a href="/about.html"   data-link>about me</a>
    <a href="/projects.html"data-link>projects</a>
    <a href="/work.html"    data-link>work</a>
    <a href="https://shadmehr.substack.com/" target="_blank">writing</a>
    <a href="https://www.goodreads.com/user/show/171951289-shadmehr-g" target="_blank">books</a>
  </div>

<a class="contact-link" href="mailto:sgitiforooz@gmail.com">contact</a>
<a class="linkedin-link" href="https://www.linkedin.com/in/gitiforooz/" target="_blank">linkedin</a>
<p class="last-updated">last updated june 2025.</p>

</div>
