
<div class="container">
  <h1 id="dynamicHeader"><a href="/" data-link>I'm Shad.</a></h1>
  <!-- Work content -->
  <div class="work-content">
    <p>
      I design phased array antennas for <a href="https://cdn.prod.website-files.com/659db6d1bab9d5f5fd782160/67ec59198ebae3f876137024_ThinAir%20Plus_datasheet%20Mar-2025.pdf" target="_blank">airplanes</a>, and military directed energy products at 
      <a href="https://www.thinkom.com" target="_blank">ThinKom</a>.
    </p>
    <p>
      In college, I built a $33M operations startup,
      <a href="https://www.duffl.com" target="_blank">Duffl</a>.
    </p>
    <p>   
      And, I developed headphones at 
      <a href="https://www.sonos.com/en-us/shop/sonos-ace" target="_blank">Sonos</a>.
    </p>
  </div>

<a class="contact-link" href="mailto:sgitiforooz@gmail.com">contact</a>
<a class="linkedin-link" href="https://www.linkedin.com/in/gitiforooz/" target="_blank">linkedin</a>
<p class="last-updated">last updated june 2025.</p>

</div>
